<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.alfredapp.bilalh.bashmarks</string>
	<key>connections</key>
	<dict>
		<key>6C68D0BB-A89A-4FDD-BB99-B5A5B460646E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9C11053E-B0C8-4EF7-B1E8-44AE2F46021D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>DA0EF175-6166-47C2-A876-BDD3F7005BB0</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Reveal in Finder</string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>6A19E0C9-EA73-4871-871C-F884D6B1A660</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string>Browse In Alfred</string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Bilal Syed Hussain</string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Bashmarks</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>g {query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.terminalcommand</string>
			<key>uid</key>
			<string>9C11053E-B0C8-4EF7-B1E8-44AE2F46021D</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>63</integer>
				<key>keyword</key>
				<string>b</string>
				<key>runningsubtext</key>
				<string>Loading</string>
				<key>script</key>
				<string>import bashmarks
bashmarks.run("{query}")</string>
				<key>title</key>
				<string>Bashmarks</string>
				<key>type</key>
				<integer>3</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>6C68D0BB-A89A-4FDD-BB99-B5A5B460646E</string>
		</dict>
		<dict>
			<key>type</key>
			<string>alfred.workflow.action.browseinalfred</string>
			<key>uid</key>
			<string>6A19E0C9-EA73-4871-871C-F884D6B1A660</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>63</integer>
				<key>script</key>
				<string>. ~/.local/bin/bashmarks.sh &amp;&amp; o {query}</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>DA0EF175-6166-47C2-A876-BDD3F7005BB0</string>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>6A19E0C9-EA73-4871-871C-F884D6B1A660</key>
		<dict>
			<key>ypos</key>
			<real>410</real>
		</dict>
		<key>6C68D0BB-A89A-4FDD-BB99-B5A5B460646E</key>
		<dict>
			<key>ypos</key>
			<real>290</real>
		</dict>
		<key>9C11053E-B0C8-4EF7-B1E8-44AE2F46021D</key>
		<dict>
			<key>ypos</key>
			<real>110</real>
		</dict>
		<key>DA0EF175-6166-47C2-A876-BDD3F7005BB0</key>
		<dict>
			<key>ypos</key>
			<real>260</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>https://github.com/Bilalh/bashmarks</string>
</dict>
</plist>
